.header {
    padding: 1%;
    text-align: center; 
    background: #ac0000;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  img {
    max-width: 7%;
    max-height: 14%;
    float: left; 
    height: auto;
  }
  a {
    color: rgb(255, 255, 255);
  }

