.nom{
    font-size:22px;
    font-weight:bold;
}
.prologo{
    font-size:18px;
    font-weight:bold;
    color:red;
    text-transform:uppercase;
}
.text{
    font-style:oblique;
    font-weight:bold;
}
.titol{
    letter-spacing:5px;
}
.content{
    margin:10px;
}
