.parrafo1 {
    background-color: red;
    letter-spacing: 1px;
}
.parrafo2 {
    background-color: red;
    letter-spacing: 2px;
}
.parrafo3 {
    background-color: red;
    letter-spacing: 3px;
}
.parrafo4 {
    background-color: red;
    letter-spacing: 4px;
}
.parrafo5 {
    background-color: red;
    letter-spacing: 5px;
}



